<div class="navbar">
  <h1 class="logo"><a href="/">Sine<span>Mkt</span>.</a></h1>
  <nav>
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link active" href="#"><strong>Home</strong></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">New Arival</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Blog</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
      </li>
    </ul>
  </nav>
  <div class="setting">
    <a href="###"><fa-icon class="icon" [icon]="faSearch"></fa-icon></a>
    <a href="###"><fa-icon class="icon" [icon]="faCog"></fa-icon></a>
      <a href="###"><fa-icon class="icon" [icon]="faCartShopping"></fa-icon></a>
    <div id="count-cart"><p>2</p></div>
  </div>
</div>
