a {
    text-decoration: none;
    color:  #616060;
}

.navbar {
    display: flex;
    padding-top: 20px;
    width: 100%;
    font-weight: 500;
    line-height: 30px;
}

.logo {
    display: inline;
    padding-left: 40px;
    font-size: 24px;
}

.logo span {
    color: #E99C2F;
}

.nav {
    display: flex;
    text-align: center;
    padding-top: 3px;
    font-size: 13pt;
}

.nav-item {
    list-style: none;
    margin-left: 50px;

}

.active {
    padding-left: 150px;
    color: #E99C2F;
}

.nav-link:hover {
    color: #E99C2F;
}

.icon {
    margin-left: 30px;
    font-size: 17px;
}

.setting {
    display: flex;
    margin-left: 200px;
    margin-top: 30px;
}

#count-cart {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #E99C2F;
    display: flex;
    justify-content: center;
    margin-top: -5px;
    margin-left: -10px;

}

#count-cart p {
    display: inline;
    color: #ffffff;
    font-size: 12px;
    text-align: center;
    margin-top: -7px;
}