<div class="container banner">
  <div
    id="carouselExampleIndicators"
    class="carousel slide"
    data-ride="carousel"
  >
    <ol class="carousel-indicators">
      <li
        class="icon active"
        data-target="#carouselExampleIndicators"
        data-slide-to="0"
      ></li>
      <li
        class="icon"
        data-target="#carouselExampleIndicators"
        data-slide-to="1"
      ></li>
      <li
        class="icon"
        data-target="#carouselExampleIndicators"
        data-slide-to="2"
      ></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="row">
          <div class="col-md-6 content">
            <h4>Great Design Collection</h4>
            <h2>Cloth Covered Accent Chair</h2>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum
              numquam in vel ad optio distinctio ipsam officiis eum amet ea
              eaque, cum nemo tempore laudantium repellendus molestias iste
              laborum quod.
            </p>
            <div class="price">
              <hr />
              <h6 class="price_active">&#36; 399.00</h6>
              <h6 class="price_not_actice">&#36; 499.00</h6>
            </div>
            <div class="buton">
              <button class="add_cart">
                <i class="fas fa-plus-circle"></i> Add to cart
              </button>
              <button class="more_info">More info</button>
            </div>
          </div>
          <div class="col-md-6 image">
            <img
              class="imga-slide"
              src="../assets/image/slider/slider1.png"
              alt="slide1"
            />
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row">
          <div class="col-md-6 content">
            <h4>Great Design Collection</h4>
            <h2>Cloth Covered Accent Chair</h2>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum
              numquam in vel ad optio distinctio ipsam officiis eum amet ea
              eaque, cum nemo tempore laudantium repellendus molestias iste
              laborum quod.
            </p>
            <div class="price">
              <hr />
              <h6 class="price_active">&#36; 399.00</h6>
              <h6 class="price_not_actice">&#36; 499.00</h6>
            </div>
            <div class="buton">
              <button class="add_cart">
                <i class="fas fa-plus-circle"></i> Add to cart
              </button>
              <button class="more_info">More info</button>
            </div>
          </div>
          <div class="col-md-6 image">
            <img
              class="imga-slide"
              src="../assets/image/slider/slider2.png"
              alt="slide1"
            />
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row">
          <div class="col-md-6 content">
            <h4>Great Design Collection</h4>
            <h2>Cloth Covered Accent Chair</h2>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum
              numquam in vel ad optio distinctio ipsam officiis eum amet ea
              eaque, cum nemo tempore laudantium repellendus molestias iste
              laborum quod.
            </p>
            <div class="price">
              <hr />
              <h6 class="price_active">&#36; 399.00</h6>
              <h6 class="price_not_actice">&#36; 499.00</h6>
            </div>
            <div class="buton">
              <button class="add_cart">
                <i class="fas fa-plus-circle"></i> Add to cart
              </button>
              <button class="more_info">More info</button>
            </div>
          </div>
          <div class="col-md-6 image">
            <img
              class="imga-slide"
              src="../assets/image/slider/slider3.png"
              alt="slide1"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
