<div class="container product">
  <div class="row">
    <div class="product-item">
      <img
        class="product-item__thumbnail"
        src="assets/image/populer-products/p1.png"
        alt="populer-products images"
      />
      <h2><a class="product-item__title">Arm Chair</a></h2>
      <p class="product-item__description">
        Nemo enim ipsam voluptatem quia volu ptas sit asperna aut odit aut
        fugit.
      </p>
    </div>
    <div class="col-md-5 product-item miditem">
      <img
        class="product-item__thumbnail"
        src="assets/image/populer-products/p2.png"
        alt="populer-products images"
      />
      <div class="item__description">
        <h2>
          <a class="item__title">
              Latest Designed Stool and Chair
          </a>
        </h2>
        <p class="product-item__description">
            Edi Ut Perspiciatis Unde Omnis Iste Natusina Error Sit 
            Voluptatem Accusantium Doloret Mque Laudantium, 
            Totam Rem Aperiam
        </p>
        <strong>Sales Start from <span>$99.00</span></strong>
        <button>Discover More</button>
      </div>
    </div>
    <div class="product-item item3">
      <img
        class="product-item__thumbnail"
        src="assets/image/populer-products/p3.png"
        alt="populer-products images"
      />
      <h2><a class="product-item__title">Hanging Lamp</a></h2>
      <p class="product-item__description">
        Nemo enim ipsam voluptatem quia volu ptas sit asperna aut odit aut fugit.
      </p>
    </div>
</div>
